# save-as to `.env` and never push it to the repo
GEMINI_API_KEY=<your-gemini-key-here>

# google cloud service acct key file mounted to here in Dockerfile
GOOGLE_APPLICATION_CREDENTIALS=/app/keyfile.json

# huggingface access token (reuquired to access gated models)
HF_TOKEN=<your-key-here>
