# save-as to `.env` and never push it to the repo

# GCP resources 
# google cloud service acct key file mounted to here in Dockerfile
GOOGLE_APPLICATION_CREDENTIALS=/app/keyfile.json

# auto-extracted w Github secrets in cd pipeline, 
# use the _dev suffixed bucket for local dev work, leave PREFIX as-is 
PROJECT_ID=<your-cp-here>
DB_BUCKET=<db-bucket-prefix-here>_dev
DOCS_BUCKET=<docs-bucket-here>
PREFIX=collect-earth-online-doc/docs/source
GEMINI_API_KEY=<your-gemini-key-here>

# huggingface access token (reuquired to access gated models)
HF_TOKEN=<your-key-here>


