[project]
name = "ceo-chatbot"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "numpy>=2.2.6",
    "pytest>=8.4.2",
]

[dependency-groups]
dev = [
    "ipykernel>=7.1.0",
    "uv>=0.9.7",
]

[tool.setuptools.packages.find]
where = ["src"]

[tool.pytest.ini_options]
pythonpath = ["src"]